

@-webkit-keyframes movingbox {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    transform: translate(0, 100%);
    opacity: 0.25;
  }
  50% {
    transform: translate(100%, 100%);
    opacity: 0.5;
  }
  75% {
    transform: translate(100%, 0%);
    opacity: 75%;
  }
  100% {
    transform: translate(50%, 50%);
    opacity: 100%;
  }
}
@-moz-keyframes movingbox {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    transform: translate(0, 100%);
    opacity: 0.25;
  }
  50% {
    transform: translate(100%, 100%);
    opacity: 0.5;
  }
  75% {
    transform: translate(100%, 0%);
    opacity: 75%;
  }
  100% {
    transform: translate(50%, 50%);
    opacity: 100%;
  }
}
@-o-keyframes movingbox {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    transform: translate(0, 100%);
    opacity: 0.25;
  }
  50% {
    transform: translate(100%, 100%);
    opacity: 0.5;
  }
  75% {
    transform: translate(100%, 0%);
    opacity: 75%;
  }
  100% {
    transform: translate(50%, 50%);
    opacity: 100%;
  }
}
@keyframes movingbox {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    transform: translate(0, 100%);
    opacity: 0.25;
  }
  50% {
    transform: translate(100%, 100%);
    opacity: 0.5;
  }
  75% {
    transform: translate(100%, 0%);
    opacity: 75%;
  }
  100% {
    transform: translate(50%, 50%);
    opacity: 100%;
  }
}


body {
    background-color: #fedfe1;
}

* {
	font-family: calibri;
}

p {
	font-size: 6px;
}

.old-messages {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}


.old-message {
  position: absolute;
  /*
  -webkit-animation: movingbox 3s 1s infinite alternate;
  -moz-animation: movingbox 3s 1s infinite alternate;
  -o-animation: movingbox 3s 1s infinite alternate;
  animation: movingbox 3s 1s infinite alternate;
  */
  font-size: 25px;
  font-family: Helvetica;
  text-align: center;
  width: 20%;
  height: 20%;
}

.thinking-head {
	color: #563f2e;
	text-align: center;
	opacity: 1;
	font-size: 60px;
  margin: 20px 0 0 0;
}
.message-botton {
	font-size: 1.2em;
	color: rgb(254,223,225);
	border: 1px solid rgb(75,78,42);
	border-radius: 5px;
	background-color: #e16b8c;
	display: inline-block;
	margin: auto;
	padding: 8px;
}

.message-botton:hover {
	color: #563f2e;
}

#reload {
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%,-50%);
}

#output {
	position: absolute;
	left: 60%;
	top: 80%;
	transform: translate(-50%,-50%);

}

#type {
	font-size: 1.5em;
	color: white;
	border: 0.8px solid rgb(116,103,62);
	border-radius: 5px;
	background-color: #d7c4bb;
	display: inline-block;
	margin: auto;
	padding: 8px;
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%,-50%);

}

#think {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

#example {
	/*text-align: center;*/
	font-size: 32px;
	color: rgb(100,52,27);
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%,-50%);
}

h2 {
	/*background-color: blue;*/
}

a {
	font-weight: bold;
	text-decoration: none;
}

a:link {
	color: gray;
}

a:visited{
	color: gray;
}

a:hover {
    color: #FF00FF;
}

#introduction {
	font-size: 20px;
	margin-bottom: 10px;
}

.tag {
	font-size: 1.2em;
	color: rgb(86,63,46);
	border: 2px solid black;
	border-radius: 5px;
	background-color: rgb(180,140,125);
	display: inline-block;
	margin: auto;
	padding: 8px;
}
#mapid { height: 180px; }
